.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(23, 23, 23);
  color: white;
}

.header {
  font-size: 16pt;
  padding: 5px;
  padding-top: 8px;
  padding-left: 12px;
  margin-bottom: 8px;
  background-color: rgb(38 38 38);
  width: 100%;
  color: #e8e8e8;
  line-height: 50px;
}

.steps {
  width: 500px;
}

.step {
  margin-top: 10px;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  background-color: #26262680;
  display: flex;
  gap: 8px;
}

.button {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #3c3c3c;
  border: none;
  color: #dbdbdb;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #4c4c4c;
}